<div class="header__wrapper">
  <div class="search__container">
    <div class="logo">
      <nav>
        <a routerLink="/" class="logo__link" routerLinkActive="active">
          <img src="/assets/img/logo.svg" alt="logo" class="logo">
        </a>
      </nav>
    </div>
    <div class="search">
      <input type="text" class="search__input" [(ngModel)]="inputValue">
      <button class="search__btn" (click)="getResponse()">search</button>
    </div>
    <button class="settings" (click)="toggleSettings()">
      <img src="../../assets/img/btn-settings.svg" alt="settings" class="settings__img">
    </button>
  </div>
  <div class="login__container">
    <app-login-block></app-login-block>
  </div>
</div>
<div class="filter__container">
  <app-filter-block [isHidden]="isSettingsHidden"></app-filter-block>
</div>
