<form [formGroup]="loginForm" class="form" (ngSubmit)="submit()">
  <h3 class="title">
    Login
  </h3>
  <label class="label__login">login</label>
  <input type="text" class="name" name="name" formControlName="name" placeholder="Please enter a login email">
  <div class="alert" *ngIf="loginForm.controls['name'].invalid && loginForm.controls['name'].touched">
    The login email is invalid.
  </div>
  <label class="label__pass">password</label>
  <input type="text" class="pass" name="pass" formControlName="pass" placeholder="Please enter a password">
  <button [disabled]="loginForm.invalid">Login</button>
</form>
