<div class="item">
  <div class="item__img_wrapper">
    <img src="https://i.ytimg.com/vi/YN8zNnV0sK8/mqdefault.jpg" alt="" class="item__img">
  </div>
  <div class="item__statistics">
    <div class="item__statistics_itm">
      <img src="../../../assets/img/viewed.svg" alt="viewed">
      <p>1345</p>
    </div>
    <div class="item__statistics_itm">
      <img src="../../../assets/img/liked.svg" alt="liked">
      <p>534</p>
    </div>
    <div class="item__statistics_itm">
      <img src="../../../assets/img/dislike.svg" alt="dislike">
      <p>131</p>
    </div>
    <div class="item__statistics_itm">
      <img src="../../../assets/img/comments.svg" alt="comments">
      <p>120</p>
    </div>
  </div>
  <p class="item__title">Angular 8 - Быстрый курс за 60 минут</p>
  <button class="item__btn">more...</button>
</div>