<form [formGroup]="cardForm" (ngSubmit)="submit()">
  <h3>Create new card</h3>
  <label>Title</label>
  <input type="text" formControlName="title">
  <div class="alert" *ngIf="cardForm.controls['title'].invalid && (cardForm.controls['title'].dirty || cardForm.controls['title'].touched)">
    <div *ngIf="cardForm.controls['title'].errors?.['required']">
      Please enter a title
    </div>
    <div *ngIf="cardForm.controls['title'].errors?.['minlength']">
      The title is too short
    </div>
    <div *ngIf="cardForm.controls['title'].errors?.['maxlength']">
      The title is too long
    </div>
  </div>
  <label>Description</label>
  <input type="text" formControlName="description">
  <div class="alert" *ngIf="cardForm.controls['description'].invalid && cardForm.controls['description'].touched">
    The description is too long
  </div>
  <label>Img</label>
  <input type="text" formControlName="img">
  <div class="alert" *ngIf="cardForm.controls['img'].invalid && (cardForm.controls['img'].dirty || cardForm.controls['img'].touched)">
    <div *ngIf="cardForm.controls['img'].errors?.['required']">
      Please enter a link to the image
    </div>
    <div *ngIf="cardForm.controls['img'].errors?.['pattern']">
      The image link is invalid: must be like https://i.ytimg.com/vi/[videoId]/mqdefault.jpg
    </div>
  </div>
  <label>Link video</label>
  <input type="text" formControlName="video">
  <div class="alert" *ngIf="cardForm.controls['video'].invalid && (cardForm.controls['video'].dirty || cardForm.controls['video'].touched)">
    <div *ngIf="cardForm.controls['video'].errors?.['required']">
      Please enter a link to the video
    </div>
    <div *ngIf="cardForm.controls['video'].errors?.['pattern']">
      The video link is invalid: must be like https://youtu.be/[videoId]
    </div>
  </div>
  <button [disabled]="cardForm.invalid">Create card</button>
</form>
