<div class="item__statistics_itm">
  <img src="../../../assets/img/viewed.svg" alt="viewed">
  <p>{{getSours().viewCount}}</p>
</div>
<div class="item__statistics_itm">
  <img src="../../../assets/img/liked.svg" alt="liked">
  <p>{{getSours().likeCount}}</p>
</div>
<div class="item__statistics_itm">
  <img src="../../../assets/img/dislike.svg" alt="dislike">
  <p>{{getSours().dislikeCount}}</p>
</div>
<div class="item__statistics_itm">
  <img src="../../../assets/img/comments.svg" alt="comments">
  <p>{{getSours().commentCount}}</p>
</div>
